@font-face {
  font-family: "din-web-reg";
  src: url('../webfonts/DINWeb.eot');
  src: url('../webfonts/DINWeb.eot?iefix') format('eot'), url('../webfonts/DINWeb.woff') format('woff');
  font-style: normal;
  font-weight: false;
}

@font-face {
  font-family: "din-web-reg";
  src: url('../webfonts/DINWeb-Light.eot');
  src: url('../webfonts/DINWeb-Light.eot?iefix') format('eot'), url('../webfonts/DINWeb-Light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "din-web-reg";
  src: url('../webfonts/DINWeb-Bold.eot');
  src: url('../webfonts/DINWeb-Bold.eot?iefix') format('eot'), url('../webfonts/DINWeb-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}